.header {
  background-color: #ffff;
  box-shadow: 0 3px 11px 0 rgb(0 0 0 / 15%);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header_wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}

.header_logo {
  display: flex;
  flex-direction: row;

  span {
    font-size: 20px;
  }

  h1 {
    font-size: 20px;
    margin: 0 0 0 10px;

    &:hover {
      color: var(--hoverColor);
      cursor: pointer;
      transition: 0.3s all ease;
    }
  }

  @media (min-width: 768px) {
    span {
      font-size: 25px;
    }

    h1 {
      font-size: 25px;
    }
  }
}
