.nav {
  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    font-size: 20px;
    margin-left: 20px;

    &:hover {
      color: var(--hoverColor);
      cursor: pointer;
      transition: 0.3s all ease;
    }
  }

  @media (min-width: 768px) {
    li {
      font-size: 25px;
    }
  }
}

.counter {
  position: relative;

  div {
    align-items: center;
    background: #998e78;
    border-radius: 50px;
    color: #fff;
    display: flex;
    font-size: 9px;
    height: 18px;
    justify-content: center;
    position: absolute;
    right: -14px;
    top: -11px;
    width: 18px;
  }
}
