.nav {
  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    margin-left: 20px;
    font-size: 20px;

    a {
      &:hover {
        color: var(--hover-color);
        cursor: pointer;
        transition: 0.3s all ease;
      }
    }
  }

  @media (min-width: 768px) {
    li {
      font-size: 25px;
    }
  }
}

.counter {
  position: relative;

  div {
    position: absolute;
    top: -11px;
    right: -14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    color: #fff;
    font-size: 9px;
    background: #998e78;
    border-radius: 50px;
  }
}
