body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;

  &:focus-visible {
    outline: 3px solid #34414b;
    border-radius: 2px;
  }

  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: default;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.page {
  margin-top: 50px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 5px;
}

:root {
  --hoverColor: #6e9c9f;
}
