body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: transparent;

  &:focus-visible {
    border-radius: 2px;
    outline: 3px solid #34414b;
  }
}

a {
  color: inherit;
  cursor: default;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.page {
  flex: 1 1 auto;
  margin-top: 50px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 5px;
}

:root {
  --hoverColor: #6e9c9f;
}
